<!DOCTYPE html>
<head>
<html class="fontawesome-i2svg-active fontawesome-i2svg-complete">
  <script src="https://kit.fontawesome.com/0fa5b4bf85.js" crossorigin="anonymous"></script>
</head>
    <body>
        <main>
            <p id="notice"></p>
            <div class="container">
              <div class="row">
                <h1 class="px-3 mx-auto">welcome to <i class="fa-solid fa-book"></i> <strong>Bookers</strong>!</h1>
              </div>
            </div>
        </main>
    </body>
</html>